<header>

	<div id="wrap_header" >

		<div class="logo col_header">
			<a href="/">
				<img alt="logo-deli" src="{{ env.navLogo }}">
			</a>
		</div>

		<div class="main_nav">
			<nav class="menu col_header">
				<ul class="main_menu">
					<li><a href="/">Home</a></li>
					<li><a href="/">About</a></li>
					<li><a href="/">Menu</a></li>
					<li><a href="/">Gallery</a></li>
					<li><a href="/">Contact</a></li>
				</ul>
			</nav>
		</div>

		<div class="icon-header col_header">
			<a target="_blank" href="https://www.facebook.com/{{env.facebook}}"><i class="fa fa-facebook" aria-hidden="true"></i></a>
			<a target="_blank" href="https://www.instagram.com/{{env.instagram}}"><i class="fa fa-instagram" aria-hidden="true"></i></a>
			<a target="_blank" href="https://www.yelp.com/biz/{{env.yelp}}"><i class="fa fa-yelp" aria-hidden="true"></i></a>
			<a target="_blank" href="https://www.tripadvisor.com/"><i class="fa fa-tripadvisor" aria-hidden="true"></i></a>
		</div>
	</div>

	<div id="wrap_header_mobile">
	
		<div class="logo-mobile">
			<a href="index.html"><img alt="logo-deli" src="{{env.navLogo}}"></a>
		</div>

		<div class="btn-show-menu">
			<button class="btn-show-menu-mobile hamburger hamburger--squeeze" type="button">
				<span class="hamburger-box">
					<span class="hamburger-inner"></span>
				</span>
			</button>
		</div>	
	</div>

	<div class="wrap-side-menu" >
		<nav class="side-menu">
			<ul class="main-menu">
				<li>
					<a href="/">Home</a>
				</li>
				<li>
					<a href="/">About</a>
				</li>
				<li>
					<a href="/">Menu</a>
				</li>
				<li>
					<a href="/">Gallery</a>
				</li>
				<li>
					<a href="/">Contact</a>
				</li>
			</ul>
		</nav>
	</div>
</header>