
	<title>{{env.name}}</title>
	<meta charset="UTF-8">
	<meta name="description" content="AuCreative theme tempalte">
	<meta name="author" content="AuCreative">
	<meta name="keywords" content="AuCreative theme template">
	<!--Mobile Specific Metas-->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<link rel="icon" type="image/png" href="{{env.favIcon}}"/>
	
	<link rel="stylesheet" type="text/css" href="{{cdn}}/dist/fonts/font-awesome-4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" type="text/css" href="{{cdn}}/dist/css/vendor.min.css">
	<link rel="stylesheet" type="text/css" href="{{cdn}}/dist/css/style.min.css">
	
	
